

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  body{

    background-color: rgb(5, 5, 5);
}


.navbar-light .navbar-nav .nav-link {
    transform: scale(90%);
    transition: 2s;
    color: #fffafa;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #FD3035;
    transform: scale(110%);
    transition: all 1s;
  }

  img{
    transform: scale(100%);
    transition: 1s;
  }
img:hover{
  transform: scale(110%);
  transition:all 2s;
}

.movement{
  transform: scale(100%);
  transition: 1s;
  color: #FD3035;

  
}
.movement:hover{
  cursor: pointer;
  transform: scale(110%);
  transition:all 1s;
  
}
.buttonfont{
  color: #FD3035;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: scale(100%);
  transition: 1s;
  border-radius: 10px;
 
}


.buttonfont:hover{
 transform: scale(110%);
transition:all 2s;
box-shadow:  0px 0px 10px 1px ;transition: all 1s;
color: #FD3035;
}


.carousel-item {
height:100vh ;
min-height:200px;
background: no-repeat scroll center scroll;
background-size: cover;
}


.d-block {
  display:flex;
}


.container{
  background-color: rgb(92, 92, 92);
  height: 500px;
  width:450px;
  border-radius: 10px;
  transition:all 2s;
}
.container:hover{
  cursor: pointer;
  transform: scale(105%);
  transition:all 2s;  box-shadow:  0px 0px 10px 1px ;transition: all 1s;
  color: #1f1f1e;
}


.text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 10px;
   background-color: rgb(92, 92, 92);
   transition:all 2s;
}

.text:hover{
  transform: scale(105%);
  transition:all 2s;
  box-shadow:  0px 0px 10px 1px ;transition: all 1s;
  color: #fdfbfb;

}

.icono{
  cursor: pointer;
  font-size: 33px;
  transition:all 2s;
  border-radius: 8px;
  color: #FD3035;
  gap: 10px;
}

.icono:hover{
  transform: scale(105%);
  transition:all 2s;
  box-shadow:0px 0px 1px 1px ;transition: all 1s;
  color: #d1cbcc;




}